<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science tools

This notebook provides an introduction to the tools and techniques used in Data Science

### Data Science languages
Some of the most commonly used languages in Data Science are:
* Python
* R
* SQL
* Java
* Julia
* Scala
* JavaScript

### Data Science Libraries
Some of the most commonly used libraries in Data Science are:
#### Java
* TensorFlow
* NumPy
* SciPy 
* Pandas
* Matplotlib 
* Keras

#### R
* Dplyr
* ggplot

### Data Science Tools
Below table lists some of the most commonly used tools in Data Science:

| S.No. | Tool |
| -----| ---- |
| 1 | Jupyter |
| 2 | SAS |
| 3 | Apache Spark |
| 4 | TensorFlow |

### Arithmetic operation
You can perform any arithmetic operation in Jupiter notebook by typing the arithmetic expression as Code

For example:
2+2
will upon execution will return
4

In [3]:
# multiplication and addition operations
4*(6+7)

52

In [5]:
# convert minutes to hours
min = 90
hr = min/60
print(hr)

1.5

### Objectives:
1. Introduction to tools of data science
2. Hands-on some of the tools

### Author: